<div class="container">
  <div class="header-content">
    <h1>
      Lista de transferências
      <i class="icon-list"></i>
    </h1>
    <button (click)="openModal()">Adicionar Nova Transferência <i class="icon-plus"></i></button>
  </div>
  @if (transfers().length === 0) {
  <p class="no-tranfers-text">Ainda não existem transferências agendadas.</p>
  } @else {

  <table class="transfer-table">
    <thead>
      <tr>
        <th>Conta origem</th>
        <th>Conta destino</th>
        <th>Valor</th>
        <th>Taxa</th>
        <th>Data do agendamento</th>
        <th>Data da transação</th>
      </tr>
    </thead>
    <tbody>
      @for (transfer of transfers(); track $index) {
      <tr>
        <td>{{transfer.sourceAccount}}</td>
        <td>{{transfer.destinationAccount}}</td>
        <td>{{transfer.amount}}</td>
        <td>{{transfer.fee}}%</td>
        <td>{{transfer.transferDate | date:'short'}}</td>
        <td>{{transfer.schedulingDate | date:'short'}}</td>
      </tr>
      }
    </tbody>
  </table>

  <div class="pagination">
    <button (click)="goToPage(page() - 1)" [disabled]="page() === 1">Anterior</button>
    <span>Página {{page()}} de {{totalPages()}}</span>
    <button (click)="goToPage(page() + 1)" [disabled]="page() === totalPages()">Próxima</button>
  </div>
  }

  @if (showModal()) {
  <div class="modal">
    <div class="modal-content">
      <h2>Nova Transferência</h2>
      <form (ngSubmit)="submitTransfer()">
        <div class="form-group">
          <label>Conta Origem:</label>
          <input [(ngModel)]="newTransfer().sourceAccount" name="sourceAccount" required />
        </div>
        <div class="form-group">
          <label>Conta Destino:</label>
          <input [(ngModel)]="newTransfer().destinationAccount" name="destinationAccount" required />
        </div>
        <div class="form-group">
          <label>Valor:</label>
          <input type="number" [(ngModel)]="newTransfer().amount" name="amount" required />
        </div>
        <div class="form-group">
          <label>Data da Transferência:</label>
          <input type="date" [(ngModel)]="newTransfer().transferDate" name="transferDate" required />
        </div>
        <div class="form-group form-footer">
          <button type="button" (click)="closeModal()">Cancelar <i class="icon-close"></i></button>
          <button type="submit">Salvar <i class="icon-check"></i></button>
        </div>
      </form>
      @if (errorMsg.length > 0) {
      <div class="error">
        <ul>
          @for (message of errorMsg(); track $index) {
          <li>{{ message }}</li>
          }
        </ul>
      </div>
      }
    </div>
  </div>
  }
</div>